h1 {
    color: black;
    width: 275px;
    position: relative;
    /* or absolute */
    text-align: center;
    top: 50%;
    left: 40%;
}

canvas {
    border: 1px solid black;
    position: absolute;
    Margin: 0 auto;
    Vertical-align: middle;
}

#bomb-canvas {
    background-color: white;
}

body {
    background: url(../images/bomb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#game-container {
    position: relative;
    padding-left: 400px;
}

#test {
    width: 10px;
    height: 10px;
}

#bombermanImg {
    display: none;
}