h1 {
    color: black;
    position: relative;
    /* or absolute */
    text-align: center;
}

canvas {
	width: 100%;
	position: absolute;
}

#bomb-canvas {
    background-color: white;
}

body {
    background: url(../images/bomb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#game-container {
    position: relative;

}

#test {
    width: 10px;
    height: 10px;
}

#bombermanImg {
    display: none;
}

@media screen and (min-width: 1200px) { 
	#game-container {
		width: 65%;
		margin: auto;
	}
}